head {
    color:rgb(107, 89, 0)
}

body {
    background-color:beige
}

footer {
    border: .5cm;
    border-color: black;
    border-style: groove;
    padding: .5cm;
    background-color:rgb(102, 102, 30)
    
}